<!-- Header -->
<header class="template-header">
	<div class="flex-container">
        {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
        {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        {{widget('extendednavigation', 'navigationheader', {"align":"right"})|raw}}
    </div>
</header>
<!-- End Header -->
